@import '../../../assets/scss/utils/colors';

.change-password-dailog {
    input {
        direction: ltr;
        text-align: left;
    }
    .dialog {
        width: 340px;
        .dialog-header {
            .title  {
                text-align: right;
            }
            .online-icon-close {
                font-size: 20px;
            }
        }
    }
    .username {
        label {
            font-size: 14px;
        }
    }
    .dialog-body {
        padding: 16px 32px;
    }
    .change-password-form {
        .user-widget-score-password {            
            position: relative;
            top: 26px;
        }
        .error-message {
            white-space: nowrap;
            display: flex;
            margin-bottom: 8px;
            font-size: 13px;
            .online-icon-information {
                color: $red;
                margin-top: 2px;
                margin-left: 3px;
            }
            color: $red;
        }
        .success-message {
            color: $green;
            font-size: 13px;
            display: flex;
            margin-bottom: 4px;
            .online-icon-tick {
                border-radius: 50%;
                height: 14px;
                width: 14px;
                margin-left: 2px;
                color: $green;
                font-size: 9px;
                text-align: center;
                line-height: 14px;
                border: 1px solid $green;
            }
        }
    }
    .register-changes {
        font-size: 15px;
        padding: 8px;
    }
}