@import '../../../assets/scss/utils/colors';

.score-password-container {
    $height: 5px;
    background-color: #E1D9D9;
    border-radius: 4px;
    overflow: hidden;
    width: 130px;
    .score-password-overflow {
        position: relative;
        direction: ltr;
        height: $height;
        overflow: hidden;
        transition: 0.2s ease;
        .score-password {
            direction: ltr;
            position: absolute;
            left: 0;
            border-radius: 4px;
            width: 150px;
            height: $height;
            background: hsla(162, 100%, 38%, 1);
    
            background: linear-gradient(
                180deg,
                hsla(162, 100%, 38%, 1) 0%,
                hsla(54, 100%, 60%, 1) 50%,
                hsla(351, 100%, 66%, 1) 100%
            );
    
            background: -moz-linear-gradient(
                180deg,
                hsla(162, 100%, 38%, 1) 0%,
                hsla(54, 100%, 60%, 1) 50%,
                hsla(351, 100%, 66%, 1) 100%
            );
    
            background: -webkit-linear-gradient(
                180deg,
                hsla(162, 100%, 38%, 1) 0%,
                hsla(54, 100%, 60%, 1) 50%,
                hsla(351, 100%, 66%, 1) 100%
            );
        }
    }
}
