@import '../../../assets/scss/utils/colors';
.overall-index-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    th {
        padding: 10px;
        width: 33.333%;
    }
    th, td {
        font-size: 13px;
        height: 18px;
        &:not(.title) {
            padding: 8px;
            text-align: center;
            * {
                text-align: center;
            }
        }
        &.title {
            padding-right: 8px;
        }
        .number {
            height: 18px;
        }
    }
    thead {
        th {
            background-color: $light-gray;
            font-weight: normal;
        }
    }

    tr {
        border-bottom: 1px solid $light-gray;
    }
}