@import "../../../assets/scss/utils/colors";

.user-widget-dropdown {
    .dropdown {
        width: 150px;
        padding: 0;
        box-shadow: 0 1px 6px 0 rgba($color: #000000, $alpha: 0.12), 0 1px 6px 0 rgba($color: #000000, $alpha: 0.12);
        .user-widget-menu-item {
            cursor: pointer;
            display: flex;
            font-size: 13px;
            padding: 8px;
            &:hover {
                background-color: $ultra-ligh-gray;
            }
            i {
                color: #A7A0A0;
                margin-left: 8px;
                font-size: 19px;
            }
        }
    }
}
.user-widget {
    width: 160px;
    .avatar {
        $size: 44px;
        height: $size;
        width: $size;
        object-fit: cover;
        border-radius: 50%;
    }
}