@import '../../../../../assets/scss/utils/colors';

.symbol-note-header {
        $height: 40px;
        height: $height;
        $margin-top: 6px;
        margin: 0 7px;
       
        i.note {
            font-size: 23px;
            color: $blue;
            margin-top: $margin-top;
        }
        .title-container {
            margin-top: $margin-top;
            .title {
                height: $height;
                position: relative;
                margin-right: 4px;
                color: $blue;
                padding-bottom: 4px;
                &::after {
                    position: absolute;
                    bottom: -8px;
                    left:55%;
                    transform: translateX(-50%);
                    width: 50%;
                    content: '';
                    border-bottom: 2px solid $blue;
                }
            }
        }
        border-bottom: 1px solid $gray;
}