.symbol-note-create {
  .dialog {
    width: 320px;
    display: table;
    padding-bottom: 12px;
  }
  .dialog-header {
    padding: 8px;
  }
  .dialog-body {
    padding: 0px 30px;
  }
  .isin-error {
    color: red;
    margin-right: 10px;
    display: flex;
    align-items: center;

    i {
      color: red;
      margin-left: 5px;
    }
  }
}
