@import "../../../../assets/scss/utils/colors";
.border-left {
  border-left: 1px solid rgb(202, 194, 194);
}
.border-top {
  border-top: 1px solid rgb(202, 194, 194);
}
.f-s-12 {
  font-size: 12px;
}
.w-symbol {
  width: 100px !important;
  padding : 0 40px;


}
.text-dark {
  color: black;
}

