@import "../../../../../assets/scss/utils/colors";

.scroll-view {
    &::-webkit-scrollbar {
        display: none;
    }
    margin: 0 !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.codalScrollBar {
    overflow: visible;
    .scroll-thumb {
        width: 4px !important;
        margin-right: -10px;
        transition: 200ms;
        background-color: rgba(219, 218, 218, 0.7);
    }
    .scroll-thumb:hover {
        background-color: #c7c7c7;
        cursor: grab;
        width: 8px !important;
        transition: 50ms;
    }
    .scroll-thumb:active {
        background-color: #c7c5c5;
        cursor: grabbing;
        width: 8px !important;
    }
}

.message-detail-dialog {
    .dialog {
        width: 650px;
        .message-header {
            padding-right: 6px;
            padding-left: 10px;
        }
        .message-details {
            padding: 0 9px;
            p {
                padding: 12px 6px;
                padding-bottom: 16px;
                direction: rtl;
                font-size: 13px;
                line-height: 21px;
            }
            .title {
                font-size: 15px;
                color: $blue;
                margin: auto 0;
            }
            .date-and-time {
                margin: auto 0;
                font-size: 14px;
                .time {
                    color: $gray-text;
                    margin-right: 8px;
                    &::before {
                        margin-left: 4px;
                        font-weight: 300;
                        content: "|";
                        color: $gray-text;
                    }
                }
            }
        }
    }
}
.massage-filter {
    i {
        color: $gray-text-2;
    }
}
.messages {
    padding-top: 0;
    .dataLenght {
        height: 15px;
        width: 15px;
        background-color: #ff526d;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        color: white;
        position: absolute;
        transform: translate(-117px, -16px);
    }
    .dataLenght-co {
        @extend .dataLenght;
        transform: translate(-86px, 3px);
    }
    .message-search {
        width: 100%;
        .input-core {
            margin-top: 8px;
            padding: 2px 0;
            border-radius: 0;
            border-right: 0;
            border-left: 0;
            background-color: #f9f9f9;
            input {
                background-color: #f9f9f9;
                &::placeholder {
                    font-weight: 400;
                }
            }
            .online-icon-search {
                color: $gray-text-2;
            }
        }
    }
    .dropdown-menu-container {
        .dropdown {
            box-shadow: 0 1px 6px 0 rgba($color: #000000, $alpha: 0.12), 0 1px 6px 0 rgba($color: #000000, $alpha: 0.12);
            width: 185px;
            .radio-container {
                padding: 4px;
                margin: 4px 0;
                .radio-title {
                    font-weight: 400;
                }
            }
        }
    }
    .tab-panel {
        .tab-list {
            li {
                &:first-child {
                    margin-right: -5px;
                }
                // &::after {
                //     content:attr(dataLenght);
                //     height: 15px;
                //     width: 15px;
                //     background-color: #ff526d;
                //     border-radius: 50%;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     font-size: 11px;
                //     color: white;
                //     margin: 2px 4px;
                // }
                margin: 0 16px;
            }
        }
    }
    .dropdown {
        z-index: 4;
    }
    .message-header {
        background-color: $ultra-ligh-gray;
        border-radius: 4px;
        font-weight: 500;
        padding: 4px 8px;
        font-size: 15px;
        background-color: aqua;
        display: flex;
        .title {
            flex-grow: 1;
        }
        i {
            font-size: 17px;
            margin: auto 0;
            color: $blue;
        }
    }
    padding: 12px;
    &::-webkit-scrollbar {
        display: none;
    }
    margin: 0 !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    .list {
        height: unset !important;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .list-none {
        display: none !important;
        background-color: aqua;
        height: 0;
    }
    .message-item {
        font-weight: 400;
        font-size: 14px;
        i {
            color: $blue;
        }
        .title {
            font-size: 14px;
            flex-grow: 1;
            margin: auto 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .date-and-detail-btn {
            margin: auto 0;
            font-weight: 300;
            font-size: 14px;
            display: flex;
            padding: 0px 0;
            i {
                font-size: 16px;
                margin-right: 4px;
            }
        }
        .date-and-time {
            position: relative;
            .date {
                margin-left: 4px;
                color: #828282;
            }
            .time {
                margin-right: 4px;
                color: #828282;
            }
        }
        border-bottom: 1px solid #eeeeee;
    }
}
