@import '../../../../assets/scss/utils/colors';

.form-group {
    label {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 6px;
        display: block;
    }
    .error {
        color: $red;
        font-size: 11px;
        margin-top: 4px;
        display: block;
    }
}