@import "../../../../assets/scss/utils/colors";

.radio-container {
    display: flex;
    cursor: pointer;
    font-size: 13.5px;   
}

.radio-title {
    font-weight: 300;
    margin-right: 4px;;
}
