@import '../../../../assets/scss/utils/colors';

.main-donut-container {
    width:37%;
    border: 1px solid $table-border-gray;
    border-radius: 10px;
    .header-donut-container {
        display: flex;
        height: 50px;
        border-radius: 10px 10px 0 0;
        border:1px solid transparent;
        background-color: rgb(210, 228, 252);
        .donut-filter {
            width: 44%;
            justify-content: center;
        }
        .active {
            border-bottom: 3px solid $blue;
            color: $blue;
        }
 
    }
    .chart-section-height {
        height: 87%;
    }
    .tiny-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}