$sidebar-width: 50px;
$header-height: 60px;

.w-100 {
    width: 100% !important;
}
.w-5 {
    width: 5% !important;
}
.w-10{
    width: 10% !important;
}
.w-15 {
    width: 15% !important;
}
.w-18 {
    width: 18% !important;
}
.w-20 {
    width: 20% !important;
}
.w-22 {
    width: 22% !important;
}
.w-25 {
    width: 25% !important;
}
.w-30 {
    width: 30% !important;
}
.w-35 {
    width: 35% !important;
}
.w-40 {
    width: 40% !important;
}
.w-45 {
    width: 45% !important;
}
.w-79 {
    width: 79% !important;
}

.w-70 {
    width: 70% !important;
}

.w-50 {
    width: 50% !important;
}
.w-60{
    width: 60% !important;
}
.w-65 {
    width: 65% !important;
}

.w-25 {
    width: 25% !important;
}
.w-90 {
    width: 90% !important;
}

.h-100 {
    height: 100% !important;
}
._100vh{
    height:100vh
}

.h-50 {
    height: 50% !important;
}
.h-55 {
    height: 55% !important;
}
.h-90 {
    height: 90% !important;
}
.h-30{
height: 30%;
}

.h-33 {
    width: 33.3333% !important;
}
.h-20 {
    height: 20% !important;
}

.h-25 {
    height: 25% !important;
}

$protfolio-symbol-width: 19%;
$protfolio-instantaneous-value: 31%;
$protfolio-last-final: 27%;

