.watch {
  overflow-x: hidden; 
  .CustomScrollbar {

    .scroll-thumb {
      background-color: rgba(219, 218, 218, 0.7);
      border-radius: 3px;
      margin-right: 4px;
      height: auto;
      width: 4px !important;
    }
    
    .scroll-thumb:hover {
      background-color: #c7c7c7;
      cursor: grab;
      width: 8px !important;
      transition: 50ms;
    }
    .scroll-thumb:active {
      background-color: #c7c5c5;
      cursor: grabbing;
      width: 8px !important;
    }
  }

  position: relative;
  .list-container {
    height: 100%;
    width: 100%;
    $scroll-height: 100%;

    .scroll-view {
      height: $scroll-height !important;
      overflow-y: scroll;
      width: 100%;
    }
    .scroll-tracker {
      height: $scroll-height !important;
    }

    

    ::-webkit-scrollbar-track-piece {
      background-color: #c2d2e4;
    }

    ::-webkit-scrollbar-thumb:vertical {
      height: 30px;
      background-color: #0a4c95;
    }
  }

  .watch-no-data {
    line-height: 100%;
    height: 100%;
  }

  .texts {
    line-height: 25px;
    font-size: 13px;
  }
}
