.mainForm {
  padding: 20px 20px;
  font-size: 13px;
  label{ font-size: 12px}
  .form-details {
    width : 80%;

  }
  .save-button {
    padding: 8px 35px;
  }
  .form-details-2{
    width:90%;
  }
  .rial{
    margin-top:31px;
    margin-right: 5px;
  }
}
.f-s-1{
  font-size: 9px;
}
