@import "../../../../../assets/scss/utils/colors";

.symbol-note-create {
  .dialog {
    width: 320px;
    height: 380px;
  }
  .dialog-header {
    padding: 8px;
  }
  .dialog-body {
    padding: 0px 30px;
  }
  .isin-error {
    color: red;
    margin-right: 10px;
    display: flex;
    align-items: center;

    i {
      color: red;
      margin-left: 5px;
    }
  }
}

.symbol-detail-dropdown {
  .detail-icon {
    color: $gray-icon;
  }
  .dropdown {
    $border: 2px solid $dropdown-border;
    box-shadow: 0 1px 6px 0 rgba($color: #000000, $alpha: 0.12),
      0 1px 6px 0 rgba($color: #000000, $alpha: 0.12);
    width: 200px;
    padding: 0;
    z-index: 5;

    .symbol-detail-dropdown-list {
      li {
        padding: 0 4px;
        margin: 8px 0;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        &:hover {
          color: #00c288;
          .sub-menu {
            i {
              font-size: 16px;
            }
            .title {
              margin-right: 4px;
            }
            &:hover {
              display: block;
            }
            display: block;
          }
        }
        .sub-menu {
          display: none;
          box-shadow: 0 1px 6px 0 rgba($color: #000000, $alpha: 0.12),
            0 1px 6px 0 rgba($color: #000000, $alpha: 0.12);
          background-color: white;
          position: absolute;
          right: 100%;
          border-radius: 4px;
          top: 50%;
          transform: translateY(-50%);
          width: 175px;
          padding: 0 4px;
          li {
            &:not(.added) {
              &:hover {
                i {
                  color: $blue;
                }
                span {
                  color: $blue;
                }
              }
            }
          }
          .added {
            i {
              background-color: $green;
              color: white;
              border-radius: 50%;
              height: 16px;
              width: 16px;
              font-size: 11px !important;
              line-height: 16px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
