@import '../../../assets/scss/utils/colors';

.portfolio-menu-dropdown {
    z-index: 4;
    width: 180px;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba($color: #000000, $alpha: 0.12),
                0 1px 6px 0 rgba($color: #000000, $alpha: 0.12);
    background-color: white;
    .radio-container {
        font-size: 14px;
        .radio-title {
            font-weight: 400;
            font-size: 13px;
            
        }
    }
    .chart-mode {
        border-bottom: 1px solid $gray;
        padding-bottom: 4px;
    }
    .menu-item {
        cursor: pointer;
        position: relative;
        font-size: 13px;
        margin-top: 4px;
        padding: 3px 8px;
        &:hover {
            color: $green;
            .submenu {
                display: block;
            }    
        }
        .submenu {
           
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            border: 1px solid $gray;
            background-color: white;
            width: unset;
            white-space: nowrap;
            .watch-menu-to-add-and-remove-item{
                .title{
                    font-size: 12px;
                }
            }
            .submenu-item {
                padding: 4px;
                .add {
                    color: $blue;
                }
            }
        }
    }

}

